<div class="container">
  <div class="card-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-div">
          <label>Email</label>
          <input
            type="text"
            class="form-input"
            maxlength="14"
            minlength="6"
            formControlName="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
        </div>
        <div
          class="error"
          *ngIf="
            this.loginForm.controls?.['email']?.invalid &&
            (this.loginForm.controls?.['email']?.touched ||
              this.loginForm.controls?.['email']?.dirty)
          "
        ><span class="error-message">El correo es invalido</span></div>
        <div class="form-div">
          <label>Password</label>
          <input
            *ngIf="!android"
            id="password-input"
            type="text"
            class="form-input"
            maxlength="10"
            minlength="6"
            formControlName="password"
          />
          <input
          *ngIf="android"
          type="text"
          class="form-input"
          maxlength="10"
          minlength="6"
          formControlName="password"
        />
        </div>
        <div
          class="error"
          *ngIf="
            this.loginForm.controls?.['password']?.invalid &&
            (this.loginForm.controls?.['password']?.touched ||
              this.loginForm.controls?.['password']?.dirty)
          "
        ><span class="error-message">La contraseña es invalida</span></div>
        <div class="button-div">
          <button class="submit" [disabled]="loginForm.invalid">
            Ingresar
          </button>
        </div>
      </form>
    <div>
      {{data}}
    </div>
    </div>
  </div>
</div>
