<div class="container">
    <div class="card-container">
        <div class="form-container">
            <form>
                <div class="form-div">
                    <label>Email</label>
                    <input type="text" class="form-input" maxlength="14" minlength="6">
                </div>
                <div class="form-div">
                    <label >Password</label>
                    <input type="text" class="form-input" appDigitonly maxlength="10" minlength="6">
                </div>
                <div class="button-div">
                    <button class="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
